header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgba(238, 181, 37, 0.922), rgba(190, 146, 34, 0.922), rgba(124, 94, 20, 0.922));
    position: sticky;
    top: 0;
}

.logo{
    width: 100px;
    height: 100px;
}

.menu{
    display: flex;
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: black;
    padding: 0 25px 0 25px; 
    font-size: 2rem;
    font-weight: bolder;
}



