.itemDetailContainer{
    display: flex;
    justify-content: center;
    padding: 100px 100px 50px 100px;
    background: black;
}

.itemDetailImg{
    width: 400px;
}

.detailContainer{
    color: beige;
    margin: 100px;
}

.detailContainer h1, .detailContainer h2, .detailContainer button {
    font-size: 50px;
}

